@media screen{
    
    
  body{
    text-align: center;
    

  }
}

@media screen {
    
  div{
    height: 100px;
    width: 600px;
    border: 1px solid black;
    margin-top: 3%;
    margin-left: 30%;
    display: flex;
    justify-content: center;
  }
}

button{
    background-color: black;
    color: beige;
}
